
.form-control,.btn{
  border-radius: 0.0rem;
}


.text-abi{
  color:$abi;
}

.bg-abi{
  background-color: $abi;
}

.abi-border{
  border: 0.4px solid #622800;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.form-control{
  border: 1px solid #555;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #555;
}

.td-lg{
 width: 20px;
 text-align: center;
}
.td-130{
  width: 130px;
  text-align: center;
 }

 a{
   text-decoration: none !important;
 }
